* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lightbkgr-color: #D8CEE6;
    --highlight-color: #B4F8C8;
    --middle-color: #72435C;
    --dark-color: #424651;
}

body {
    background-color: var(--lightbkgr-color);
    color: var(--middle-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header Start */
header {
    padding: 20px 35px 20px 0;
    background-color: var(--dark-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

header h1 {
    background-color: var(--highlight-color);
    font-weight: bold;
    font-size: 36 px;
    color: var(--middle-color);
    margin: 0;
    padding: 0 15px 0 60px;
    box-shadow: 5px 5px;
}

header a {
    text-decoration: none;
    color: var(--highlight-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 5px;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  border-bottom: 3px solid var(--highlight-color);
}

header nav ul li a:hover {
    border-color: var(--lightbkgr-color);
  color: var(--lightbkgr-color);
  text-shadow: none;
}
/* Header End */

/* about me start */
.about-me {
    margin: 50px;
    padding-bottom: 50px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about-me h2 {
    font-size: 46px;
    flex: 1 20%;
}

.about-text {
    font-size: 22px;
    line-height: 1.5;
}

.about-me-info {
    flex: 3 70%;
    display: inline-flex;
}

.sid-img {
    flex: 1 50%;
    margin-right: 20px;
}

.sid-img img {
  max-width: 100%;  
}
/* about me end */

/* work start */
.work {
    margin: 50px;
    padding-bottom: 50px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.work h2 {
    font-size: 46px;
    flex: 1 20%;
}

/* contact me start */
.contact-me {
    margin: 50px;
    padding-bottom: 50px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact-me h2 {
    font-size: 46px;
    flex: 1 20%;
}

.contact-me ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contact-me ul li a, .contact-me ul li {
    text-decoration: none;
    color: var(--dark-color);
}

.contact-me ul li {
    margin: 5px;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  border-bottom: 3px solid var(--dark-color);
}

.contact-me ul li a:hover {
    border-color: var(--highlight-color);
  color: var(--highlight-color);
  text-shadow: 20px;
}
/* contact me end */