* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lightbkgr-color: RGB(252, 245, 202);
    --highlight-color: RGB(224, 159, 62);
    --middle-color: RGB(0, 102, 102);
    --dark-color: RGB(0, 53, 102);
}

body {
    background-color: var(--lightbkgr-color);
    color: var(--middle-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header Start */
header {
    padding: 20px 35px 20px 0;
    background-color: var(--dark-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

header h1 {
    background-color: var(--highlight-color);
    font-weight: bold;
    font-size: 36 px;
    color: var(--middle-color);
    margin: 0;
    padding: 0 15px 0 60px;
    box-shadow: 5px 5px;
}

header a {
    text-decoration: none;
    color: var(--highlight-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 5px;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  border-bottom: 3px solid var(--highlight-color);
}

header nav ul li a:hover {
    border-color: var(--lightbkgr-color);
  color: var(--lightbkgr-color);
  text-shadow: none;
}
/* Header End */

.contact-me ul li a, .contact-me ul li {
    text-decoration: none;
    color: var(--dark-color);
}